/* Color de fondo "Lawrencium" de UI Gradients */
body {
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Color de la fuente */
h1 {
color: white;

}

.center {
    text-align: center;
}

.cards-container {
  column-count: 3;
}

.cards-container div {
   background: floralwhite;
   height: 50px;
   margin: 10px 0;

}

.cards-container div:first-child {
    margin: 0;
}
