{% extends "contents.html" %}
{%block content %}
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="d-flex justify-content-center">
                        <div class="alert alert-sm alert-dismissible alert-warning" style="width: 300px; margin-top:5px;">
                            <button type="button" class="close" data-dismiss="alert"></button>
                            <p class="mb-0">{{ message }} </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
    {% endwith %}

<div class="row justify-content-center">
{% for serie in catalogo %}
    <div class="col-sm-3">
        <div id="cards-container">
            <div class="card border-light mb-3 text-center mx-auto" style="max-width: 14rem; margin-top:20px">
                <div class="card-body">
                    <img src="data:image/{{ serie.mimetype }};base64, {{ serie.img|b64encode }}"
                    style="width: 150px;" class="card-img-top" alt="{{ serie.titulo }}">
                <div class="card-header">{{ serie.titulo }}</div>
                <p class="card-text">{{ serie.genero }}</p>
                <p class="card-text">{{ serie.duracion_capitulo }}'</p>
                <p class="card-text">{{ serie.anio }}</p>
                <a href="{{ url_for ('marcar_serie_favorita', id=serie.id) }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                    </svg>
                </a>
                <a href="{{ url_for('marcar_serie_vista', id=serie.id) }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                    </svg>
                </a>
          </div>
        </div>
    </div>
</div>

{% endfor %}
</div>


{% endblock %}

<!-- Script de JavaScript para que el flash se cierre automáticamente -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-lZN37f6/0+M5vEXN1tyAZDpAkHzGV1gWUMxl5MkB6nJ6Hef0fZnFxsaA5owu1p3B"
        crossorigin="anonymous">
</script>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('.alert').forEach((alert) => {
            setTimeout(() => {
                alert.classList.remove('show');
                alert.classList.add('fade');
                setTimeout(() => alert.remove(), 150); // Remove the element after fade out
            }, 5000); // 5 seconds
        });
    });
</script>