{% extends "contents.html" %}
{%block content %}
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="d-flex justify-content-center">
                        <div class="alert alert-sm alert-dismissible alert-warning" style="width: 300px; margin-top:5px;">
                            <button type="button" class="close" data-dismiss="alert"></button>
                                <span aria-hidden="true">&times;</span>
                            <p class="mb-0">{{ message }} </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
    {% endwith %}

                    <form class="text-center" action="{{url_for('editar_peliculas', id=pelicula.id) }}"
                    style="margin-top: 50px" method='POST' enctype='multipart/form-data'>
                        <input type="file" name="imagen"/>
                        <input type="text" name="titulo" placeholder="{{ pelicula.titulo }}"/>
                        <input type="text" name="duracion" placeholder="{{ pelicula.genero }}"/>
                        <input type="text"  name="genero" placeholder="{{ pelicula.duracion }}"/>
                        <input type="text"  name="anio" placeholder="{{ pelicula.anio }}"/>
                        <input type="submit" value="Editar película"/>
                    </form>


                    <table class="text-center mx-auto text-white" style="margin-top: 50px">
                        <th>Título</th>
                        <th>Duración</th>
                        <th>Género</th>
                        <th>Año</th>
                        {% for pelicula in peliculas %}
                        <tr>
                            <td> {{ pelicula.titulo }} </td>
                            <td> {{ pelicula.duracion }}</td>
                            <td> {{ pelicula.genero }}</td>
                            <td> {{ pelicula.anio }}

                                <a href="{{ url_for ('editar_peliculas', id=pelicula.id) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                    </svg>
                            </td>
                                <a/>
                        </tr>
                        {% endfor %}
                    </table>





{% endblock %}




