{% extends "contents.html" %}
{%block content %}
     {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="d-flex justify-content-center">
                        <div class="alert alert-sm alert-dismissible alert-warning" style="width: 300px; margin-top:5px;">
                            <button type="button" class="close" data-dismiss="alert"></button>
                                <span aria-hidden="true">&times;</span>
                            <p class="mb-0">{{ message }} </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
    {% endwith %}

    <div class="container">
        {% if peliculas_vistas %}
            <h3 class="text-center text-white"> {{ current_user.username }}, estas son las series y películas que has visto</h3>
            <div class="row">
                {% for pelicula in peliculas_vistas %}
                    <div class="col-sm-4">
                        <div class="card border-light mb-3 text-center mx-auto" style="max-width: 14rem; margin-top:20px">
                            <div class="card-body">
                                <img src="data:image/{{ pelicula.mimetype }};base64, {{ pelicula.img|b64encode }}"
                                    style="width: 150px;" class="card-img-top" alt="{{ pelicula.titulo }}">
                                <div class="card-header">{{ pelicula.titulo }}</div>
                                <p class="card-text">{{ pelicula.genero }}</p>
                                <p class="card-text">{{ pelicula.duracion }}'</p>
                                <p class="card-text">{{ pelicula.anio }}</p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    {% if loop.index % 3 == 0 %}
                        </div><div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}


    {% if series_vistas %}
        <div class="row">
            {% for serie in series_vistas %}
                <div class="col-sm-4">
                    <div class="card border-light mb-3 text-center mx-auto" style="max-width: 14rem; margin-top:20px">
                        <div class="card-body">
                            <img src="data:image/{{ serie.mimetype }};base64, {{ serie.img|b64encode }}"
                                style="width: 150px;" class="card-img-top" alt="{{ serie.titulo }}">
                            <div class="card-header">{{ serie.titulo }}</div>
                            <p class="card-text">{{ serie.genero }}</p>
                            <p class="card-text">{{ serie.duracion_capitulo }}'</p>
                            <p class="card-text">{{ serie.anio }}</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                            </svg>
                        </div>
                    </div>
                </div>
                {% if loop.index % 3 == 0 %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>



{% endblock %}

